<!DOCTYPE html>
<head>
    <title>Ahmer's Project</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <script src="https://unpkg.com/vue@3.4.31/dist/vue.global.js"></script>
</head>
<body class="container">
    <div id="app">
        <header>
            <h1>Ahmer-1220527</h1>
		
        </header>

        <main>
            <div class="row justify-content-center">
                <div class="col-md-3 box">
                    <h2>Random User</h2>
                    <img src="images/user.jpg" alt="User Image" class="user-image" />
                    <p>Name: {{ userName }}</p>
                    <p>Age: {{ userAge }}</p>
                    <button @click="nextUser">Next User Profile</button>
                </div>

                <div class="col-md-3 box2">
                    <h2>Weather</h2>
                    <div class="weather-inputs">
                        <input type="text" v-model="city" placeholder="City" />
                        <input type="text" v-model="province" placeholder="Province" />
                        <input type="text" v-model="country" placeholder="Country" />
                        <p>Location: {{ location }}</p>
                        <p>Temperature: {{ temperature }}</p>
                        <p>Wind: {{ wind }}</p>
                        <p>Description: {{ description }}</p>
                    </div>
                    <div>
                        <button @click="getWeather">Get Weather Data</button>
                    </div>
                </div>

                <div class="col-md-3 box3">
                    <h2>Dictionary</h2>
                    <div class="dictionary-input">
                        <input type="text" v-model="word" placeholder="Enter a word" />
                    </div>
                    <button @click="defineWord">Define Word</button>
                    <p>Definition: {{ definition }}</p>
                </div>
            </div>
        </main>

        <footer>
            &copy; 2025 Ahmer Project. All rights reserved.
        </footer>
    </div>

    <script src="scripts/app.js"></script>
</body>
</html>
